@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../fonts/FontAwesome/fontello.eot?17909534");
  src: url("../fonts/FontAwesome/fontello.eot?17909534#iefix") format("embedded-opentype"), url("../fonts/FontAwesome/fontello.woff2?17909534") format("woff2"), url("../fonts/FontAwesome/fontello.woff?17909534") format("woff"), url("../fonts/FontAwesome/fontello.ttf?17909534") format("truetype"), url("../fonts/FontAwesome/fontello.svg?17909534#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?17909534#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-menu:before {
  content: '\e800'; }

/* 'юаА' */
.icon-facebook:before {
  content: '\f09a'; }

/* 'яВЪ' */
.icon-instagram:before {
  content: '\f16d'; }

/* 'яЕн' */
.icon-vkontakte:before {
  content: '\f189'; }

/* 'яЖЙ' */
@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold/Roboto-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype"); }
html {
  background-color: #eef3f5; }

body {
  font: 14px/1.429 "Roboto", sans-serif;
  min-width: 320px;
  overflow-x: hidden;
  background-color: #eef3f5;
  color: #131313;
  padding-top: 40px;
  margin: 0; }

img {
  max-width: 100%; }

a {
  color: #009adf; }

h2 {
  font-size: 1.714em; }

.slick-initialized .slick-slide {
  margin: 15px; }

.btn {
  padding: 20px 30px;
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.143em;
  font-weight: 700; }
  .btn-primary {
    background-color: #009adf;
    border-bottom: 5px solid #0077ac; }
    .btn-primary:hover {
      background-color: #00a5ee; }

.top-nav {
  background-color: #fff;
  padding: 15px 34px;
  position: relative; }
  .top-nav_btn {
    display: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    font-size: 1.286em;
    position: absolute;
    right: 15px;
    top: -50px; }
    .top-nav_btn:hover {
      cursor: pointer; }
  .top-nav_menu {
    list-style: none;
    display: flex; }
    .top-nav_menu li {
      margin-right: 45px; }
      .top-nav_menu li a {
        text-decoration: none;
        text-transform: uppercase;
        color: #131313;
        font-weight: 700; }
        .top-nav_menu li a::after {
          content: "";
          display: block;
          width: 100%;
          background-color: #009adf;
          height: 2px;
          transform: translateY(38px) scale(0);
          transition: all .2s; }
        .top-nav_menu li a:hover {
          text-decoration: none; }
          .top-nav_menu li a:hover::after {
            transform: translateY(38px) scale(1); }

.left-sidebar {
  margin-top: 40px; }
  .left-sidebar_btn {
    display: none;
    background-color: #fff;
    padding: 15px;
    position: relative; }
    .left-sidebar_btn:hover {
      cursor: pointer; }
    .left-sidebar_btn::after {
      content: "";
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -10px;
      height: 15px;
      width: 15px;
      border-right: 2px solid #131313;
      border-bottom: 2px solid #131313;
      transform: rotate(45deg); }
  .left-sidebar_menu {
    background-color: #fff;
    list-style: none;
    padding: 0; }
    .left-sidebar_menu li:first-child a {
      padding-top: 20px; }
    .left-sidebar_menu li:last-child a {
      padding-bottom: 20px; }
    .left-sidebar_menu li:hover {
      background-color: #009adf;
      transition: all .3s; }
      .left-sidebar_menu li:hover a {
        color: #fff;
        transition: all .2s; }
    .left-sidebar_menu li a {
      display: block;
      text-decoration: none;
      color: #131313;
      font-size: 1.143em;
      padding: 15px 29px; }
  .left-sidebar_object {
    margin-top: 30px;
    background-color: #fff; }
    .left-sidebar_object-description {
      padding: 30px; }
      .left-sidebar_object-description h3 {
        text-transform: uppercase;
        font-weight: 400; }

.content {
  margin-top: 40px;
  margin-bottom: 76px; }

.directions {
  width: 100%;
  margin-top: 80px; }
  .directions .direction-block {
    background-color: #fff;
    height: 220px;
    text-align: center;
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/ }
    .directions .direction-block h3 {
      color: #009adf; }

.footer {
  background-color: #131313;
  color: #666;
  padding: 59px 0;
  margin-top: 60px; }
  .footer-policy-link {
    font-size: .857em; }
  .footer a {
    color: #666;
    text-decoration: none; }
    .footer a:hover {
      color: #fff; }
  .footer small {
    display: block;
    margin-top: 56px;
    font-size: .714em;
    line-height: 1.143em; }
  .footer ul {
    padding: 0;
    list-style: none; }
    .footer ul li {
      line-height: 2.286em; }
  .footer-contacts {
    text-align: right; }
    .footer-contacts_phone {
      font-size: 1.429em;
      color: #009adf; }
  .footer-sociale-links {
    text-align: right; }
    .footer-sociale-links li {
      display: inline-block; }
      .footer-sociale-links li a {
        display: inline-block;
        width: 42px;
        height: 42px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin-left: 10px;
        transition: all .2s; }
        .footer-sociale-links li a:hover {
          background-color: rgba(255, 255, 255, 0.9);
          color: #131313; }

/*Section team*/
.team {
  text-align: center; }
  .team h4 {
    font-weight: 400;
    font-size: 1.286em;
    margin-bottom: 15px; }
  .team p {
    margin-bottom: 40px; }

/*Contacts*/
.contacts {
  font-size: 1.143em; }
  .contacts-img {
    margin-right: 12px;
    vertical-align: middle; }
  .contacts-address {
    display: block;
    line-height: 2; }
  .contacts-btn {
    margin-top: 36px;
    padding: 20px 70px; }
  .contacts-sociale-links ul {
    list-style: none;
    padding: 0;
    margin-top: 36px; }
    .contacts-sociale-links ul li {
      display: inline-block; }
      .contacts-sociale-links ul li a {
        display: inline-block;
        width: 42px;
        height: 42px;
        background-color: #009adf;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin-right: 15px;
        transition: all .2s; }
        .contacts-sociale-links ul li a:hover {
          background-color: rgba(0, 154, 223, 0.5);
          color: #131313; }

/*Organization*/
.organization-card {
  background-color: #fff;
  margin-bottom: 30px;
  padding: 25px 30px;
  min-height: 25rem; }
  .organization-card:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 1, 0.1); }
  .organization-card a {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin-bottom: 20px; }
  .organization-card small {
    display: block;
    color: rgba(19, 19, 19, 0.5);
    line-height: 1.5; }
  .organization-card p {
    line-height: 1.571em; }

*:hover {
  transition: .25s all; }

*:focus {
  outline: none; }

/*Responsive*/
@media screen and (max-width: 767px) {
  .top-nav_btn {
    display: block; }
  .top-nav_menu {
    flex-direction: column;
    display: none;
    padding: 0; }
    .top-nav_menu__active {
      display: flex;
      margin: 0 auto;
      text-align: left; }
  .top-nav li {
    line-height: 2;
    margin: 0; }
    .top-nav li a::after {
      display: none; }

  .left-sidebar {
    margin-top: 20px; }
    .left-sidebar_object {
      display: none; }
    .left-sidebar_btn {
      display: block; }
    .left-sidebar_menu {
      display: none; }
      .left-sidebar_menu__active {
        display: block; }

  .directions {
    text-align: center;
    width: 100%; }

  .content {
    text-align: center; }

  .copy {
    text-align: center; }
    .copy small {
      display: block;
      margin: 36px auto; }

  .footer-contacts {
    text-align: left; }
  .footer-sociale-links {
    text-align: left; } }
@media (min-width: 768px) and (max-width: 991px) {
  .top-nav_btn {
    display: block;
    top: 0;
    right: 35px;
    position: relative; }
  .top-nav_menu {
    flex-direction: column;
    display: none;
    padding: 0; }
    .top-nav_menu__active {
      display: flex;
      margin: 0 auto;
      text-align: left; }
  .top-nav li {
    line-height: 2;
    margin: 0; }
    .top-nav li a:hover {
      color: #009adf; }
    .top-nav li a::after {
      display: none; }

  .left-sidebar {
    margin-top: 20px; }
    .left-sidebar_object {
      display: block; }
      .left-sidebar_object img {
        width: 100%; }

  .directions {
    text-align: center;
    width: 100%; }

  .content {
    text-align: unset;
    margin: 0 auto; }

  .copy {
    text-align: center; }
    .copy small {
      display: block;
      margin: 36px auto; }

  .footer-contacts {
    text-align: left; }
  .footer-sociale-links {
    text-align: left; } }
@media (min-width: 992px) {
  .top-nav_menu {
    padding: 0; }
    .top-nav_menu li {
      margin-right: 15px; }

  .left-sidebar .left-sidebar_object img {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
